In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
store_data = pd.read_csv("../data/store.csv")

In [3]:
train_data = pd.read_csv("../data/train.csv")

/var/folders/h6/yd92lr9j5wz6x8bvzgh5btj80000gn/T/ipykernel_65431/671168194.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  train_data = pd.read_csv("../data/train.csv")

In [4]:
store_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Store                      1115 non-null   int64
 1   StoreType                  1115 non-null   object
 2   Assortment                 1115 non-null   object
 3   CompetitionDistance        1112 non-null   float64
 4   CompetitionOpenSinceMonth  761 non-null    float64
 5   CompetitionOpenSinceYear   761 non-null    float64
 6   Promo2                     1115 non-null   int64
 7   Promo2SinceWeek            571 non-null    float64
 8   Promo2SinceYear            571 non-null    float64
 9   PromoInterval              571 non-null    object
dtypes: float64(5), int64(2), object(3)
memory usage: 87.2+ KB

In [5]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 914629 entries, 0 to 914628
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Store          914629 non-null  int64
 1   DayOfWeek      914629 non-null  int64
 2   Date           914629 non-null  object
 3   Sales          914629 non-null  int64
 4   Customers      914629 non-null  int64
 5   Open           914629 non-null  int64
 6   Promo          914629 non-null  int64
 7   StateHoliday   914629 non-null  object
 8   SchoolHoliday  914629 non-null  int64
dtypes: int64(7), object(2)
memory usage: 62.8+ MB

In [6]:
sales_data = train_data

In [7]:
import datetime

# convert date column to datetime type
sales_data['Date'] = pd.to_datetime(sales_data['Date'])

# create new columns for year, month, and day of week
sales_data['Year'] = sales_data['Date'].dt.year
sales_data['Month'] = sales_data['Date'].dt.month
sales_data['Day'] = sales_data['Date'].dt.day

In [8]:
sales_data.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Year,Month,Day
0,1,4,2015-04-30,6228,650,1,1,0,0,2015,4,30
1,2,4,2015-04-30,6884,716,1,1,0,0,2015,4,30
2,3,4,2015-04-30,9971,979,1,1,0,0,2015,4,30
3,4,4,2015-04-30,16106,1854,1,1,0,0,2015,4,30
4,5,4,2015-04-30,6598,729,1,1,0,0,2015,4,30

In [9]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 914629 entries, 0 to 914628
Data columns (total 12 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Store          914629 non-null  int64
 1   DayOfWeek      914629 non-null  int64
 2   Date           914629 non-null  datetime64[ns]
 3   Sales          914629 non-null  int64
 4   Customers      914629 non-null  int64
 5   Open           914629 non-null  int64
 6   Promo          914629 non-null  int64
 7   StateHoliday   914629 non-null  object
 8   SchoolHoliday  914629 non-null  int64
 9   Year           914629 non-null  int64
 10  Month          914629 non-null  int64
 11  Day            914629 non-null  int64
dtypes: datetime64[ns](1), int64(10), object(1)
memory usage: 83.7+ MB

In [10]:
sales_data['StateHoliday'].unique()

array(['0', 'b', 'a', 'c', 0], dtype=object)

In [11]:
sales_data['StateHoliday'] = sales_data['StateHoliday'].replace({'0': 0, 'a': 1, 'b': 2, 'c': 3})

In [12]:
sales_data['StateHoliday'].unique()

array([0, 2, 1, 3])

In [13]:
sales_data

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Year,Month,Day
0,1,4,2015-04-30,6228,650,1,1,0,0,2015,4,30
1,2,4,2015-04-30,6884,716,1,1,0,0,2015,4,30
2,3,4,2015-04-30,9971,979,1,1,0,0,2015,4,30
3,4,4,2015-04-30,16106,1854,1,1,0,0,2015,4,30
4,5,4,2015-04-30,6598,729,1,1,0,0,2015,4,30
...,...,...,...,...,...,...,...,...,...,...,...,...
914624,1111,2,2013-01-01,0,0,0,0,1,1,2013,1,1
914625,1112,2,2013-01-01,0,0,0,0,1,1,2013,1,1
914626,1113,2,2013-01-01,0,0,0,0,1,1,2013,1,1
914627,1114,2,2013-01-01,0,0,0,0,1,1,2013,1,1
914628,1115,2,2013-01-01,0,0,0,0,1,1,2013,1,1

In [14]:
features = ['Store', 'DayOfWeek', 'Customers', 'Promo', 'StateHoliday', 'SchoolHoliday', 'Year', 'Month', 'Day']

In [15]:
X = sales_data[features]

In [16]:
y = sales_data.Sales

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, test_size=0.2, random_state=0)

# Test 2

In [18]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
import numpy as np

from sklearn.metrics import mean_squared_error, mean_absolute_error, make_scorer

From the previous grid search run, the hyperparameter combination that yielded the best performance is `{'max_depth': 10, 'max_features': 7, 'min_samples_leaf': 2, 'min_samples_split': 3, 'n_estimators': 20}`

Wanted to test other combinations to check if a better model can be produced. Increased some of the hyperparameters.

In [19]:
# grid search cv
grid_space={'max_depth':[10,None],
              'n_estimators':[20,50],
              'max_features':[7,8],
              'min_samples_leaf':[2],
              'min_samples_split':[3,4]
           }
rf = RandomForestRegressor()

scoring = make_scorer(mean_squared_error, greater_is_better=False)

grid = GridSearchCV(rf,param_grid=grid_space,cv=3,scoring=scoring)
model_grid = grid.fit(X_train, y_train)

# grid search results
print('Best grid search hyperparameters are: '+str(model_grid.best_params_))
print('Best grid search score is: '+str(model_grid.best_score_))

Best grid search hyperparameters are: {'max_depth': None, 'max_features': 8, 'min_samples_leaf': 2, 'min_samples_split': 4, 'n_estimators': 50}
Best grid search score is: -786859.0518502943

In [20]:
cv_results = grid.cv_results_

# Print the mean test score for each combination of hyperparameters
for i in range(len(cv_results['params'])):
    print(cv_results['params'][i], cv_results['mean_test_score'][i])

# Access the scorer_ attribute
scorer = grid.scorer_

# Print the name of the scoring function
print(scorer._score_func.__name__)

{'max_depth': 10, 'max_features': 7, 'min_samples_leaf': 2, 'min_samples_split': 3, 'n_estimators': 20} -1548491.5481165114
{'max_depth': 10, 'max_features': 7, 'min_samples_leaf': 2, 'min_samples_split': 3, 'n_estimators': 50} -1550975.7295742023
{'max_depth': 10, 'max_features': 7, 'min_samples_leaf': 2, 'min_samples_split': 4, 'n_estimators': 20} -1555981.769648026
{'max_depth': 10, 'max_features': 7, 'min_samples_leaf': 2, 'min_samples_split': 4, 'n_estimators': 50} -1549202.2423568722
{'max_depth': 10, 'max_features': 8, 'min_samples_leaf': 2, 'min_samples_split': 3, 'n_estimators': 20} -1546817.1575492367
{'max_depth': 10, 'max_features': 8, 'min_samples_leaf': 2, 'min_samples_split': 3, 'n_estimators': 50} -1540870.5455943467
{'max_depth': 10, 'max_features': 8, 'min_samples_leaf': 2, 'min_samples_split': 4, 'n_estimators': 20} -1543459.5076937324
{'max_depth': 10, 'max_features': 8, 'min_samples_leaf': 2, 'min_samples_split': 4, 'n_estimators': 50} -1539510.5744529658
{'max_depth': None, 'max_features': 7, 'min_samples_leaf': 2, 'min_samples_split': 3, 'n_estimators': 20} -905518.5553212691
{'max_depth': None, 'max_features': 7, 'min_samples_leaf': 2, 'min_samples_split': 3, 'n_estimators': 50} -875009.0927646257
{'max_depth': None, 'max_features': 7, 'min_samples_leaf': 2, 'min_samples_split': 4, 'n_estimators': 20} -905266.995882703
{'max_depth': None, 'max_features': 7, 'min_samples_leaf': 2, 'min_samples_split': 4, 'n_estimators': 50} -870478.2410084541
{'max_depth': None, 'max_features': 8, 'min_samples_leaf': 2, 'min_samples_split': 3, 'n_estimators': 20} -808587.177159584
{'max_depth': None, 'max_features': 8, 'min_samples_leaf': 2, 'min_samples_split': 3, 'n_estimators': 50} -787339.7960171787
{'max_depth': None, 'max_features': 8, 'min_samples_leaf': 2, 'min_samples_split': 4, 'n_estimators': 20} -811433.920740875
{'max_depth': None, 'max_features': 8, 'min_samples_leaf': 2, 'min_samples_split': 4, 'n_estimators': 50} -786859.0518502943
mean_squared_error

In [21]:
model = RandomForestRegressor(max_depth=None, max_features=8, min_samples_leaf=2, min_samples_split=4, n_estimators=50)
model.fit(X_train, y_train)
preds = model.predict(X_test)
mae = mean_absolute_error(y_test, preds)
mse = mean_squared_error(y_test, preds)
accuracy = model.score(X_test, y_test)
print("MSE: " + str(mse) + ", MAE: " + str(mae) + ", Accuracy: " + str(accuracy))

MSE: 690381.1708732923, MAE: 501.30364072102617, Accuracy: 0.9532394414456289

In [22]:
import joblib
joblib.dump(model, 'rf_model.pkl')

['rf_model.pkl']

The model that yielded the best performance has the following parameters:

`{'max_depth': None, 'max_features': 8, 'min_samples_leaf': 2, 'min_samples_split': 4, 'n_estimators': 50}`

However, despite having a higher model score, the size of the model file is around 1.06GB, and thus is too heavy for the project. Setting the max_depth to `None` allowed a better performance, but also a more complex and bigger model.

Will generate another test, but limiting `max_depth` to `10`

# Test 3

In [24]:
# grid search cv
grid_space={'max_depth':[10],
              'n_estimators':[20,50,100],
              'max_features':[7,8],
              'min_samples_leaf':[2],
              'min_samples_split':[3,4]
           }
rf = RandomForestRegressor()

scoring = make_scorer(mean_squared_error, greater_is_better=False)

grid2 = GridSearchCV(rf,param_grid=grid_space,cv=3,scoring=scoring)
model_grid2 = grid2.fit(X_train, y_train)

# grid search results
print('Best grid search hyperparameters are: '+str(model_grid2.best_params_))
print('Best grid search score is: '+str(model_grid2.best_score_))

Best grid search hyperparameters are: {'max_depth': 10, 'max_features': 8, 'min_samples_leaf': 2, 'min_samples_split': 4, 'n_estimators': 50}
Best grid search score is: -1537641.0671909933

In [27]:
cv_results = grid2.cv_results_

# Print the mean test score for each combination of hyperparameters
for i in range(len(cv_results['params'])):
    print(cv_results['params'][i], cv_results['mean_test_score'][i])

# Access the scorer_ attribute
scorer = grid2.scorer_

# Print the name of the scoring function
print(scorer._score_func.__name__)

{'max_depth': 10, 'max_features': 7, 'min_samples_leaf': 2, 'min_samples_split': 3, 'n_estimators': 20} -1554248.023236744
{'max_depth': 10, 'max_features': 7, 'min_samples_leaf': 2, 'min_samples_split': 3, 'n_estimators': 50} -1549567.0141184626
{'max_depth': 10, 'max_features': 7, 'min_samples_leaf': 2, 'min_samples_split': 3, 'n_estimators': 100} -1550070.679575693
{'max_depth': 10, 'max_features': 7, 'min_samples_leaf': 2, 'min_samples_split': 4, 'n_estimators': 20} -1552327.6755637068
{'max_depth': 10, 'max_features': 7, 'min_samples_leaf': 2, 'min_samples_split': 4, 'n_estimators': 50} -1551188.322520351
{'max_depth': 10, 'max_features': 7, 'min_samples_leaf': 2, 'min_samples_split': 4, 'n_estimators': 100} -1551095.510245063
{'max_depth': 10, 'max_features': 8, 'min_samples_leaf': 2, 'min_samples_split': 3, 'n_estimators': 20} -1543444.5743767011
{'max_depth': 10, 'max_features': 8, 'min_samples_leaf': 2, 'min_samples_split': 3, 'n_estimators': 50} -1540162.1470523623
{'max_depth': 10, 'max_features': 8, 'min_samples_leaf': 2, 'min_samples_split': 3, 'n_estimators': 100} -1538748.9951498385
{'max_depth': 10, 'max_features': 8, 'min_samples_leaf': 2, 'min_samples_split': 4, 'n_estimators': 20} -1542109.7540050482
{'max_depth': 10, 'max_features': 8, 'min_samples_leaf': 2, 'min_samples_split': 4, 'n_estimators': 50} -1537641.0671909933
{'max_depth': 10, 'max_features': 8, 'min_samples_leaf': 2, 'min_samples_split': 4, 'n_estimators': 100} -1537691.7078624063
mean_squared_error

In [25]:
model = RandomForestRegressor(max_depth=10, max_features=8, min_samples_leaf=2, min_samples_split=4, n_estimators=50)
model.fit(X_train, y_train)
preds = model.predict(X_test)
mae = mean_absolute_error(y_test, preds)
mse = mean_squared_error(y_test, preds)
accuracy = model.score(X_test, y_test)
print("MSE: " + str(mse) + ", MAE: " + str(mae) + ", Accuracy: " + str(accuracy))

MSE: 1552958.9815059013, MAE: 836.2800412508706, Accuracy: 0.8948157446191839

In [28]:
import joblib
joblib.dump(model, 'rf_model.pkl')

['rf_model.pkl']

In [29]:
joblib.dump(grid, 'grid_search_2.pkl')
joblib.dump(grid2, 'grid_search_3.pkl')

['grid_search_3.pkl']